:root {
    --primary: #4C9AFF;
}

/* =======================
   ROOT
   ======================= */
.main-calendar {
    height: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    margin-top: 30px;
}


/* =======================
   CONTROLS / TOOLBAR
   ======================= */
.main-calendar .rbc-toolbar {
    background-color: transparent;
}

.main-calendar .rbc-toolbar-label {
    font-size: 1.2rem;
    margin-top: 15px;
}

.main-calendar .rbc-btn-group {
    background: transparent;
    border: none;
}

.main-calendar .rbc-btn-group button {
    color: white;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px !important;
}

.main-calendar .rbc-btn-group button:active {
    color: var(--primary);
    border: 1px solid var(--primary);
    background: white;
}


/* =======================
   MONTH VIEW
   ======================= */
.main-calendar .rbc-month-view {
    border-radius: 20px;
}

.main-calendar .rbc-month-header {
    
}

.main-calendar .rbc-header {
    font-weight: 200;
}

.main-calendar .rbc-month-row {

}


/* =======================
   DATE CELLS
   ======================= */
.main-calendar .rbc-row-content {
    
}

.main-calendar .rbc-date-cell {
    text-align: center;
}

.main-calendar .rbc-off-range {

}

.main-calendar .rbc-off-range-bg {
}

.main-calendar .rbc-today {
    background: rgb(228, 228, 228);
}

.main-calendar .rbc-date-cell.rbc-now,
.main-calendar .rbc-date-cell.rbc-today,
.main-calendar .rbc-now > span,
.main-calendar .rbc-today > span {
    font-weight: 600;
}


/* =======================
   WEEK / DAY VIEW
   ======================= */
.main-calendar .rbc-time-view {

}

.main-calendar .rbc-time-gutter {

}

.main-calendar .rbc-time-header {

}

.main-calendar .rbc-time-content {

}

.main-calendar .rbc-time-slot {

}

.main-calendar .rbc-time-column {

}
